body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: red;
  .my-image {
    width: 50%;
    height: auto;
}
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
